<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teste Monolito</title>
</head>
<header>
 
    <mat-toolbar style="height: 130px;" color="warn">
      <mat-toolbar-row>
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-auto">
              <img height="100px" style="margin-top: 70px;" src="../assets/pokemon-yourtext.png" alt="">
            </div>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

</header>

<body>

  <mat-card class="card-principal">


<div class="row">
  <div *ngFor="let pokemon of pokemons" class="col-4">
    <mat-card class="cards-pokemons">
      <div class="row">
        <img height="255px" src="{{pokemon.sprites.front_default}}" alt="">
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <span class="pokemon-name">{{pokemon.pokemon.name}}</span>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <span class="pokemon-type">Type {{pokemon.types[0].type.name}}</span>
        </div>
      </div>
      </mat-card>
  </div>
</div>

</mat-card>
  
</body>
</html>